

/* @media screen and (min-width: 768px) {
  .page-wrapper .page-content {
    padding-left: 300px;
  }
} */
img{

  width: 180px;
  height: 200px;
}

.imagen_tabla{
  width: 100px;
  height: 100px;
}

.tarjeta{

  border: 1px solid rgb(247, 244, 244); 
  margin: 15px;
  width: 280px;
}

.tarjeta>h6{
 text-align: center;
}
.tarjeta>img{
  align-items: center;
 }
 
body{

  background-color: #f1f0f0;
}
.navbar{
  justify-content: flex-end;
  height: 70px;
}

.titulo{
  float: center;
}

.cargando{
  text-align: center;
   width: 100%;"
}

.sidebar-wrapper {
  width: 260px;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
}



.header{
  background: #ffffff;
}

tr{
  width: 100px;
  height: 100px;
}























